<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<style>
    .wrap_content{
        border: 1px solid black;
        padding:15px;
        margin: 20px;

    }
</style>
    <div class="container">
        <!-- Content here -->
        <div class="wrap_content">
            <div><h1>Casino Setting</h1></div>
            <hr>
            <form method="POST" action="">
                <div class="container px-4">
                    <div class="row gy-5">
                        <div class="col-6">
                            <div class="p-3 border bg-light">
                                <div class="mb-3">
                                    <h3>Plugin Options</h3>
                                </div>
                                <div class="mb-3">
                                    <label for="theme_selected" class="form-label">Select Theme</label>
                                    <select name="theme_selected" class="form-select" aria-label="Default select">
                                        {% for theme in themes %}
                                            <option value="{{ theme }}">{{ theme }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="site_brand" class="form-label">Select Brand</label>
                                    <select name="site_brand" class="form-select" aria-label="Default select">
                                        {% for brand in brands %}
                                            <option value="{{ brand }}">{{ brand }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="book_id" class="form-label">Select Book Id</label>
                                    <select name="book_id" class="form-select" aria-label="Default select">
                                        {% for book in books %}
                                            <option value="{{ book.id }}">{{ book.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="p-3 border bg-light">
                                <div class="mb-3">
                                  <h3>Advanced Settings</h3>
                                </div>
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <label for="casino_slug" class="form-label">Casino Slug</label>
                                        <input name="casino_slug" type="text" class="form-control" value="{{ casino_slug }}" id="formGroupExampleInput" placeholder="/online-casino/">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <label for="version" class="form-label">Version</label>
                                        <input name="version" type="text" class="form-control" value="{{ version }}"  placeholder="1.0">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="p-3 border bg-light">
                                <div class="mb-3">
                                    <h3>Banner Service</h3>
                                </div>
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <label for="banner_service_url" class="form-label">Banner Service Url:</label>
                                        <input name="banner_service_url" value="{{ banner_service_url }}" type="text" class="form-control" id="formGroupExampleInput2" placeholder="http://bannerservice.coolwager.com/api/v1/zones/">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="banner_service_token" class="form-label">Banners Service Token:</label>
                                    <input name="banner_service_token" type="text" class="form-control" value="{{ banner_service_token }}" id="formGroupExampleInput" placeholder="token_dev">
                                </div>
                                <div class="mb-3">
                                    <label for="banners_id_zone" class="form-label">Banners Id Zone:</label>
                                    <input name="banners_id_zone" type="text" class="form-control" value="{{ banners_id_zone }}" id="formGroupExampleInput" placeholder="55">
                                </div>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="p-3 border bg-light">
                                <div class="mb-3">
                                    <h3>Data Providers</h3>
                                </div>
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <label for="casino_data_url" class="form-label">Casino Data Url:</label>
                                        <input name="casino_data_url" value="{{ casino_data_url }}" type="text" class="form-control" id="formGroupExampleInput2" placeholder="http://casino.games/api/v1/1/getGames">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="p-3 border bg-light">
                                <div class="mb-2">
                                    <div class="row mb-3">
                                        <div class="col-sm-10">
                                            <input type="hidden" name="nameJson" value="casino_setting">
                                            <button type="submit" class="btn btn-primary">Save Settings...</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
