<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link href="https://file.myfontastic.com/v5r3E2cVsYtytaxMk7dkCN/icons.css" rel="stylesheet">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<div>
    <div id="main" class="main-site-content container-fluid p-0">
        <div class="main-casino">
            <div>
                <!-- CasinoTabs-->
                {% include 'layout/casino/default/partials/category_tabs.twig' %}
                <!-- End CasinoTabs-->
                <div class="row mx-0">
                    <div class="col-12 carousel-container main">
                        <div id="casinoMainSliderLobby" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner w-100" role="listbox">
                                {% for key, banner in casino_banner_slider %}
                                    {% if(key == 0) %}
                                        <div class="carousel-item active">
                                            <div class="col-12 col-md-12 p-0 main-slider">
                                                <img src="{{ banner.banner_link ~ banner.name_desktop}}"
                                                     class="d-block w-100 img-fluid" alt="{{ banner.name }}"
                                                >
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="carousel-item">
                                            <div class="col-12 col-md-12 p-0 main-slider">
                                                <img src="{{ banner.banner_link ~ banner.name_desktop}}"
                                                     class="d-block w-100 img-fluid" alt="{{ banner.name }}"
                                                >
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <a class="carousel-control-prev arrow" href="#casinoMainSliderLobby" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>

                            <a class="carousel-control-next arrow" href="#casinoMainSliderLobby" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                    </div>
                </div>

                {% include 'layout/casino/default/partials/render_games.twig' %}

                <div class="footer w-100" style="height: 734px; background: rgb(46, 41, 78); border-top-left-radius: 10px; border-top-right-radius: 10px;">
                    footer
                </div>
        </div>
        </div>
    </div>
</div>
