<div class="main-casino__tabs row mx-0">
    <ul class="nav main-casino__tabs__nav d-flex justify-content-between col-lg-8 offset-lg-2  p-0">
        {% for category in casino_categories %}
            {% if(current_tab == category.url_category and category.is_active) %}
                <li class="nav-item main-casino__tabs__nav__item category_tab d-flex active">
                    <a href="/{{ category.url_category }}" class="nav-link text-uppercase d-flex justify-content-end align-items-center flex-column">
                        <i class="{{ category.image }}"></i>
                        {{ category.name }}
                    </a>
                </li>
            {% else %}
                <li class="nav-item main-casino__tabs__nav__item category_tab d-flex">
                    <a href="/{{ category.url_category }}" class="nav-link text-uppercase d-flex justify-content-end align-items-center flex-column">
                        <i class="{{ category.image }}"></i>
                        {{ category.name }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>