<div class="jackpots">
    <div class="container my-3">
        <h3 class="text-center jackpots__main-title">JACKPOTS</h3>
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="row mx-0">
                    {% for game in jackpot.games_1 %}
                        <div class="col-6 pb-3 pl-0 pr-2">
                            <img src="{{ game.image}}" alt="placeholder" class="img-responsive w-100">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="row mx-0">
                    <div class="col-12">
                        <p class="text-center jackpots__title mb-2">MEGAJACKPOT</p>
                        <div class="d-flex justify-content-center mb-3">
                            {% for value in jackpot.megajackpot %}
                                <span class="jackpots__number">
                                    {{ value }}
                                </span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 p-0"><p class="text-center jackpots__title mb-2">DAILY JACKPOT</p>
                        <div class="d-flex justify-content-center mb-3">
                            {% for value in jackpot.daily_jackpot %}
                                <span class="jackpots__number">
                                    {{ value }}
                                </span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 p-0">
                        <p class="text-center jackpots__title mb-2">QUICK JACKPOT</p>
                        <div class="d-flex justify-content-center mb-3">
                            {% for value in jackpot.quick_jackpot %}
                                <span class="jackpots__number">
                                    {{ value }}
                                </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="row mx-0">
                    {% for game in jackpot.games_2 %}
                        <div class="col-6 pb-3 pl-0 pr-2">
                            <img src="{{ game.image}}" alt="placeholder" class="img-responsive w-100">
                        </div>
                    {% endfor %}
                </div>
            </div>
{#        </div> <div class="view-all d-flex justify-content-end">#}
{#            <button class="btn outline-btn my-2 d-flex align-items-center justify-content-center">View All</button>#}
{#        </div>#}
    </div>
</div>
