{% if(casino_games.type == 'subcategory') %}
    <!--Render games by subcategories-->
    <div class="row mx-0 mt-5">
    {% for key, sub_categories in casino_games.sub_categories %}
        <div class="col-12 px-5 lobby-games-slider">
            <h3 class="lobby-games-slider__title m-0 py-2">{{ sub_categories.name }} <span class="lobby-games-slider__view-all ">(<a href="#">VIEW ALL</a>)</span></h3>
        </div>
        <div class="col-12 carousel-container" style="padding-left: 80px; padding-right: 80px;">
            <div id="sub_category_{{  sub_categories.id }}" data-bs-ride="carousel" class="carousel slide w-100">
                <div role="listbox" class="carousel-inner w-100">
                    {% for key_game, game in sub_categories.games %}
                        {% if(key_game == 0) %}
                            <div class="carousel-item active">
                                <div class="col-12 col-md-3 p-2 position-relative">
                                    <img src="{{ game.image }}" alt="{{ game.name }}" class="d-block w-100 img-fluid border-color">
                                </div>
                            </div>
                        {% else %}
                            <div class="carousel-item">
                                <div class="col-12 col-md-3 p-2 position-relative">
                                    <img src="{{ game.image }}" alt="{{ game.name }}" class="d-block w-100 img-fluid border-color">
                                </div>
                            </div>
                        {% endif %}

                    {% endfor %}
                </div>
                <a href="#sub_category_{{  sub_categories.id }}" role="button" data-bs-slide="prev" class="carousel-control-prev arrow">
                    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a href="#sub_category_{{  sub_categories.id }}" role="button" data-bs-slide="next" class="carousel-control-next arrow">
                    <span aria-hidden="true" class="carousel-control-next-icon"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        </div>
    {% endfor %}
    <!--End Render games by subcategories-->
{% else %}
    <!--Render games-->
    <div class="container-fluid py-3">
        <div class="row mx-0">
            <div class="col-12 p-0">
                <div id="casino-wrapper">
                    <div class="w-100 casino-tab tab-content container-fluid">
                        <div id="game-casino-container" class="row tab-pane fade show active games-container">
                            <div class="row mt-3 mx-0 regular-games">
                                {% for key, game in casino_games.games %}
                                    <div data-id="{{ game.id }}" class="col-lg-2 col-md-4 col-sm-6 col-6 mb-3 main-casino__game">
                                        <figure>
                                            <a href="javascript:void(0)" class="open-game">
                                                <img alt="Game" class="img-tint img-fluid lazy" data-src="{{ game.image }}" lazy="loaded">
                                            </a>
                                            <figcaption>
                                                <div class="p-3">
                                                    <span class="main-casino__game__name d-block">{{ game.name }}</span>
                                                    {% if game.has_fun_mode == 1 %}
                                                        <a href="#" data-content-target="{{ game.url_game }}" data-game_title="{{ game.name }}" data-game_url="{{ casino_url ~ 'launch/guest/' ~ book_id ~ '/' ~ game.id }}" class="main-casino__game__play-now show_game">
                                                            Play For Fun
                                                        </a>
                                                    {% else %}
                                                        <a href="?modal=open"   class="main-casino__game__play-now ">
                                                            Play For Fun
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Render games-->
{% endif %}

<!--Casino Modal Game-->
<div class="modal" id="modal_game" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Casino Game Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="game_name"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Casino Game Body -->
            <div class="modal-body">
                <div class="ratio ratio-16x9" id="content_game">

                </div>
            </div>
            <!-- Modal Casino Game Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Casino Modal Game-->

<!--Prevent Scroll Modal GameCasino-->
<style>
    <!---->
    body.modal-game-open {
        overflow: hidden;
    }
</style>